$bg-text: #c3cad0;
$bg-text-darker: #8e9cac;
    
.post-short
    &:not(:first-of-type)
        margin-top: 10px

    &:not(:last-of-type)
        margin-bottom: 10px
    
    .post-header
        .post-title
            display: inline-block
            margin: none

        .post-author
            text-decoration: none
            font-size: 1.2rem
            color: $primary-color

        .post-categories
            .category
                &:not(:last-of-type)
                    &::after
                        content: ","

            .category ~ .category
                &::before
                    content: " "

    .post-body
        display: flex
        flex-direction: column

.post
    display: flex
    flex-direction: column
    position: relative
    width: 650px
    min-height: 100vh
    margin: auto
    padding-top: 100px

    .post-meta
        display: flex
        flex-direction: column
        font-family: 'Montserrat', sans-serif
        margin-bottom: 1.2rem

        .post-title
            font-size: 3rem
            font-weight: 700

        .post-submeta
            margin-top: 1.2rem

            .byline
                display: flex

                .dates
                    margin-left: 10px

                    .date-header, .published-date
                        display: inline-block
                        width: 100%

                    .date-header
                        color: $bg-text-darker

                    .published-date
                        color: black
        
                .author
                    // position: absolute
                    // bottom: 30px

                    .author-header, .post-author
                        display: inline-block
                        width: 100%
                    
                    .author-header
                        color: $bg-text-darker

                    .post-author
                        text-decoration: none
                        font-weight: 700
                        color: black
                        text-transform: capitalize

        .post-reacts
            display: flex
            justify-content: space-between

            .react
                display: flex

                div
                    margin: 5px 5px 5px 0px

                div + div
                    margin-left: 5px

                    &:before
                        content: "\2043"
                        margin-right: 10px

                .comments-counter
                    cursor: pointer

            .social
                margin: 5px

.comments-bar
    position: absolute
    z-index: 11
    right: 0px
    top: 0px
    width: 550px
    height: 100vh
    box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.12)
    background-color: $nav-bg-color

    .btn-close
        float: right

    .comments-title
        display: flex

        .comments-header
            font-weight: 600
        
        .comments-counter
            color: $gray-500
