.header>.logo
{
    margin: auto;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background-color: #999;
}

.header>.description
{
    margin: auto;
    margin-bottom: 30px;
    padding: 15px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #333;
}

.post
{
    margin-top: 70px;
    margin-bottom: 70px;
}

.post>.title>a
{
    color: #ff572f;
    font-weight: 700;
    font-size: 30px;
}

.post>.title,
.post>.metadata,
.post>.banner-image
{
    margin-top: 15px;
    margin-bottom: 15px;
}

.post>.metadata
{
    list-style: none;
}

.post>.metadata>.meta-item
{
    display: inline;
}

.post>.metadata>.meta-item::after
{
    content: " •";
    color: #ff572f;
    font-weight: 200;
}

.post>.metadata>.meta-item:last-of-type::after
{
    content: "";
}

.post>.metadata>.meta-item,
.post>.description
{
    font-family: 'Lato', sans-serif;
    Color: #333;
}

.post>.banner-image
{
    display: inline-block;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    background: transparent no-repeat center;
    background-size: cover;
}

.post-divider
{
    border: 0.5px solid #999;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.post-divider:last-of-type
{
    display: none;
}