.login-page
{
    position: absolute;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;

    width: 762px;
    height: 420px;
    margin: auto;
}

.login-shadow
{
    position: absolute;
    z-index: 0;

    width: 762px;
    height: 420px;
    margin: auto;

    box-shadow: 0px 0px 40px #191d26;
}

.register
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 420px;
    width: 400px;
    padding: 40px 40px;

    background-color: #1C212B;
}

.login
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 100%;
    padding: 40px 40px;

    background-color: #191d26;
}

.login-text
{
    font-family: 'lato', sans-serif;
    color: #B2B6BD;
    font-size: 18px;
}

.register-text
{
    font-family: 'lato', sans-serif;
    color: #6B6F77;
    font-size: 16px;
    margin-bottom: -10px;
}

.text-sm
{
    font-size: 12px;
}

.register-welcome
{
    font-family: 'lato', sans-serif;
    color: #fff;
    font-size: 24px;
}

.register-form
{
    margin-top: 0;
}

.form-btn-register
{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 30px;
    width: 100px;

    margin: auto auto;

    border: none;

    text-align: center;
    text-decoration: none;
    color: #fff;
    font-family: 'lato', sans-serif;
    font-size: 18px;
    line-height: 18px;

    background-color: #FFA000;

    cursor: pointer;
}

.error, .spacer {
    margin-top: 20px;
    margin-bottom: 10px;
}

.spacer
{
    height: 17px;
}

.error
{
    font-family: 'lato', sans-serif;
    font-size: 14px;
    color: #b71c1c;
}

.form-label
{
    margin-top: 30px;
    margin-bottom: -5px;

    font-family: 'lato', sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #B2B6BD;
}

.form-text/*, .form-label*/
{
    margin-bottom: 30px;
    height: 25px;
    width: 200px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #B2B6BD;
    color: #B2B6BD;
}

.form-text:invalid
{
    box-shadow: none;
}

.form-text:invalid:not(:focus)
{
    border-bottom: 1px solid #b71c1c;
}

.form-btn
{
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 45px;
    height: 45px;
    background-color: transparent;
    border: 2px solid #FFA000;
    border-radius: 50%;
    font-size: 30px;
    color: #FFA000;
}

.form-btn:hover
{
    cursor: pointer;
}

.content
{
    display: flex;
    align-items: center;
    justify-content: center;
}