<div class="sidebar">
    <div class="top" >
        <a class="sidebar-item" id="sidebar-btn"><span class="sidebar-item-text">Close</span><i class="bi-list" id="sidebar-btn-icon"></i></a>
    </div>
    <a class="sidebar-item" id="roles_link" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-offset="0,5" title="Roles" href="/roles"><i class="bi-key"></i><span class="sidebar-item-text">Roles</span></a>
    <a class="sidebar-item" id="users_link" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-offset="0,5" title="Users"><i class="bi-people"></i><span class="sidebar-item-text">Users</span></a>
    <a class="sidebar-item" id="categories_link" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-offset="0,5" title="Categories" href="/users/manage"><i class="bi-list-ul"></i><span class="sidebar-item-text">Categories</span></a>
</div>